# Database
DATABASE_URL="postgresql://postgres.PROJECT_REF:ENCODED_PASSWORD@aws-REGION.pooler.supabase.com:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:ENCODED_PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres?sslmode=require"

# Server
NODE_ENV="development"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
SUPABASE_URL="https://PROJECT_REF.supabase.co"
SUPABASE_PUBLISHABLE_KEY="YOUR_SUPABASE_PUBLISHABLE_KEY"
